.side-bar{
  width: 229px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(28,39,52,1) 52%);
  min-height: 100vh;
  color: white;
  font-size: 14px;
  font-weight: 400;
  position: relative ;

  &__logo{
    height: 20px;
    width: 118px;
    margin: 30px 55px;
  }
  &__list{
    width: 100%;

    li{
      list-style-type: none;
      padding: 7px 25px;
      cursor: pointer;

      &:hover {
        background-color: #1F2123;
      }

    }
  }

  &__profile-wrapper{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 30px);
    margin: 0 15px;
  }


  &__profile{
    display: flex;
    align-items: center;
    gap: 7px;
    border-top: 1px solid #2c3d51;
    padding-top: 10px;
    width: 100%;
    cursor: pointer;
    &__profile-img{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      background: white;
      color: #1F2123;

      font-size: 10px;
      border-radius: 50%;
    }
    &__exit{
      display: flex;
      flex-direction: column;
      gap: 14px;
      background: white;
      border-radius: 5px;
      padding: 7px 10px;
      color: black;
      p{
        width: 100%;
        cursor: pointer;
      }
    }
  }
}